[Unit]
Description=Image file syncer
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/img_sync --daemon
PIDFile=/var/run/img_sync.pid
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
